---
const { href, title, body, thumbnail } = Astro.props;
---

<article class="article">
  <a href={href} class="article__link">
    <img src=`/images/${thumbnail}` alt={title} class="article__img" />
    <h2>{title}</h2>
    <p>{body}</p>
  </a>
</article>
